<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <p>
        Search: <input ng-model="$ctrl.query"/>
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
          <option value="-age">Oldest</option>
        </select>
        <p>{{$ctrl.orderProp}}</p>
      </p>
      
      <button class="btn btn-warning" ng-click="$ctrl.openDialog($ctrl.phones)">
        Add device
      </button>
    </div>
    <div class="col-md-5">
      <!--Body content-->
      
      <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones"
        class="thumbnail phone-list-item">
          <a ui-sref="phoneDetail({ phoneId: phone.id})" class="thumb">
            <img ng-src="{{phone.imageUrl}}" alr="{{phone.name}}"/>
          </a>
          <a ui-sref="phoneDetail({ phoneId: phone.id})">{{phone.name}}</a>
          <button class="btn btn-default" ui-sref="phones.phoneDetail({ phoneId: phone.id})">short look</button>
          <p>{{phone.snippet}}</p>
        </li>

      </ul>
      
    </div>

    <ui-view></ui-view>
  </div>
</div>
